VITE_FIREBASE_API_KEY=AIzaSyActpi6mWY1fd7bDPrh3ALSuh1cB9N4uxI
VITE_FIREBASE_AUTH_DOMAIN=trucklink-ai-orignal.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=trucklink-ai-orignal
VITE_FIREBASE_STORAGE_BUCKET=trucklink-ai-orignal.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=848099422906
VITE_FIREBASE_APP_ID=1:848099422906:web:a0fbf7518c75a12a060883
VITE_FIREBASE_MEASUREMENT_ID=G-Z9R9W65TQN
